@model IEnumerable<ZealEducationManager.Entities.Exam>

@{
    ViewData["Title"] = "Exams";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <h5 class="text-uppercase mb-0 mt-0 page-title">Exams</h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-12">
    </div>
    <div class="col-sm-8 col-12 text-right add-btn-col">
        <a asp-action="Create" class="btn btn-primary float-right btn-rounded">
            <i class="fas fa-plus"></i>
            Add Exam
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="table-responsive">
            <table class="table custom-table datatable " >
                <thead class="thead-light">
                    <tr>
                        <th>Exam Date</th>
                        <th>Batch </th>
                        <th>Course</th>
                        <th class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExamDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Batch.BatchCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.CourseCode)
                            </td>
                            <td class="text-right">
                                <a asp-action="ListCandidate" asp-route-id="@item.ExamId" class="btn btn-primary btn-sm mb-1">
                                    List
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.ExamId" class="btn btn-primary btn-sm mb-1">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-danger btn-sm mb-1" asp-action="Delete" asp-route-id="@item.ExamId">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
