@model ZealEducationManager.Models.ExamsViewModel.InputMarkViewModel;
@{
    ViewData["Title"] = "InputMarks";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Enter Exam Results</h2>
<br />
<br />
<br />

<form method="post" asp-action="SaveInputMark">
    <input type="hidden" asp-for="@Model.ResultId" />
    <input type="hidden" asp-for="@Model.CandidateId" />
    <input type="hidden" asp-for="@Model.ExamId" />
    <div class="row">
        <div class="col-md-3 text-right"><h4>Candidate Name:</h4></div>
        <div class="col-md-3"><h4>@Model.Candidate.FirstName @Model.Candidate.LastName</h4></div>
    </div>
    <div class="row">
        <div class="col-md-3 text-right">
            <h4>Mark: </h4>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="number" id="mark" max="100" min="0" asp-for="@Model.MarksObtained" />
            <span asp-asp-validation-for="@Model.MarksObtained"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save Results</button>
    <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
</form>

