@model IEnumerable<ZealEducationManager.Entities.ExamResult>
@{
    ViewData["Title"] = "List Candidate";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    int examId = (int)ViewData["ExamId"];
    var coursecode = ViewData["CourseCode"];
    var batchcode = ViewData["BatchCode"];
}

<h2>Candidates in Exam with CourseCode: @coursecode and BatchCode: @batchcode</h2>
<table class="table datatable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Mark
            </th>
            <th>Status</th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CandidateId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Candidate.FirstName) @Html.DisplayFor(modelItem => item.Candidate.LastName)
                </td>
                <td>
                    @if (item.MarksObtained == null)
                    {
                        <a class="btn btn-secondary" asp-action="InputMarks" asp-route-id="@item.ResultId">Enter Mark</a>
                    } else
                    {
                        @Html.DisplayFor(modelItem => item.MarksObtained)
                    }
                </td>
                <td>
                    @if (item.MarksObtained != null && item.MarksObtained < 40)
                    {
                        <span class="text-danger">Failed</span>
                    }
                    else if (item.MarksObtained != null)
                    {
                        <span class="text-success">Passed</span>
                    }
                    else
                    {
                        <span class="text-muted">Not Available</span>
                    }
                </td>
                <td>
                    <a class="btn btn-secondary" asp-controller="Candidates" asp-action="Details" asp-route-id="@item.CandidateId">View Details</a> ||
                    <a class="btn btn-secondary" asp-action="InputMarks" asp-route-id="@item.ResultId">Edit Mark</a>
                </td>
            </tr>
        }
    </tbody>
</table>