@model IEnumerable<ZealEducationManager.Entities.Faculty>

@{
    ViewData["Title"] = "Faculties";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="page-header">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-12">
			<h5 class="text-uppercase mb-0 mt-0 page-title">All Faculties</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-12">
	</div>
	<div class="col-sm-8 col-12 text-right add-btn-col">
		<a asp-action="Create" class="btn btn-primary btn-rounded float-right">
			<i class="fas fa-plus"></i>
			Add Faculty
		</a>	
	</div>
</div>
<div class="row filter-row">
</div>


<div class="row">
	<div class="col-6">
		<input class="form-control" type="text" id="search-input" placeholder="Search By Name">
	</div>
</div>
<br />

<div class="row staff-grid-row">
	@foreach (var item in Model)
	{
		<div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
			<div class="profile-widget">
				<div class="profile-img">
					<a asp-action="Details" asp-route-id="@item.FacultyId"><img class="avatar" src="~/assets/img/user.jpg" alt=""></a>
				</div>
				<div class="dropdown profile-action">
					<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-ellipsis-v"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.FacultyId">
							<i class="fas fa-pencil-alt m-r-5"></i>
							Edit
						</a>
						<a class="dropdown-item" asp-action="Delete" asp-route-id="@item.FacultyId">
							<i class="fas fa-trash-alt m-r-5"></i> Delete
						</a>
					</div>
				</div>
				<h4 class="user-name m-t-10 m-b-0 text-ellipsis">
					<a asp-action="Details" asp-route-id="@item.FacultyId">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
				</h4>
				<div class="small text-muted">@Html.DisplayFor(modelItem => item.FacultyCode)</div>
			</div>
		</div>
	}
</div>


<br />
<!-- Pagination -->

<div class="row ">
	<div class="offset-3 h4">
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination">
				<!-- Pagination links will be generated here -->
			</ul>
		</nav>
	</div>
</div>
<br />
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const rowsPerPage = 12; // Số mục trên mỗi trang
		const rows = document.querySelectorAll('.staff-grid-row .col-md-4');
		const numPages = Math.ceil(rows.length / rowsPerPage);

		const pagination = document.getElementById('pagination');
		for (let i = 0; i < numPages; i++) {
			const pageNumber = i + 1;
			const pageLink = document.createElement('li');
			pageLink.className = 'page-item';
			pageLink.innerHTML = `<a class="page-link" href="#">${pageNumber}</a>`;
			pagination.appendChild(pageLink);

			pageLink.addEventListener('click', function (event) {
				event.preventDefault();
				showPage(pageNumber);
			});
		}

		function showPage(pageNumber) {
			rows.forEach((row, index) => {
				row.style.display = (Math.floor(index / rowsPerPage) === pageNumber - 1) ? 'block' : 'none';
			});
		}

		// Show the first page by default
		showPage(1);
		$('#search-input').on('keyup', function () {
			var searchValue = $(this).val().toLowerCase();
			$('.user-name').each(function () {
				var text = $(this).text().toLowerCase();
				if (text.indexOf(searchValue) > -1) {
					$(this).closest('.col-md-4').show();
				} else {
					$(this).closest('.col-md-4').hide();
				}
			});
		});
	});
</script>
